@import "OmgResponsive.scss";

$background-colour: rgb(27, 23, 28);

$box-boxColour: rgb(197, 140, 219);
$box-borderColour: rgb(221, 191, 252);

body {
    margin: 0;
    background-color: rgb(27, 23, 28);
    height: 100vh;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

//main
#main {
    //border: 2px solid rgb(75 70 74);
    max-width: 900px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#desc {
    font-family: "Times New Roman", Times, serif;
}

// Boxes
#box-container {
    display: flex;
    justify-content: space-around;
}

.box {
    height: 240px;
    margin: 20px;
    width: 200px;
    background-color: $box-boxColour;
    border: solid $box-borderColour 12px;
    font-family: Impact, "Arial Narrow Bold", sans-serif;
    font-size: 20px;
    color: rgb(53, 2, 54);
    border-radius: 12px;
}

//This should be self explanatory
#footer {
    color: dimgrey;
    padding-top: 4%;
}
