@use "sass:math";
$max-width: 700px;

@mixin test($max-width: true) {
    @if $max-width {
        display: block !important;
    } @else {
        display: inline-flex;
    }
}

@media (max-width: $max-width) {
    #box-container,
    #desc {
        @include test($max-width: true);
        margin: 50px;
    }
    #head {
        margin: 50px;
    }
}
@media (min-width: $max-width) {
    #box-container,
    #desc {
        @include test($max-width: false);
    }
}
